In [51]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df= pd.read_csv('/Users/echo030333/Downloads/train_ver2.csv')

/Users/echo030333/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (5,8,11,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.shape

(13647309, 48)

In [5]:
df.describe()

,ncodpers,ind_nuevo,indrel,tipodom,cod_prov,ind_actividad_cliente,renta,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
count,1.364731e+07,1.361958e+07,1.361958e+07,13619574.0,1.355372e+07,1.361958e+07,1.085293e+07,1.364731e+07,1.364731e+07,1.364731e+07,...,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.363125e+07,1.363125e+07,1.364731e+07
mean,8.349042e+05,5.956184e-02,1.178399e+00,1.0,2.657147e+01,4.578105e-01,1.342543e+05,1.022912e-04,2.315475e-05,6.554837e-01,...,5.886582e-03,9.170965e-03,2.627404e-03,5.253636e-02,4.438868e-02,2.560761e-02,3.847718e-03,5.472434e-02,5.942854e-02,1.279162e-01
std,4.315650e+05,2.366733e-01,4.177469e+00,0.0,1.278402e+01,4.982169e-01,2.306202e+05,1.011340e-02,4.811883e-03,4.752103e-01,...,7.649791e-02,9.532502e-02,5.119083e-02,2.231060e-01,2.059571e-01,1.579616e-01,6.191053e-02,2.274414e-01,2.364250e-01,3.339965e-01
min,1.588900e+04,0.000000e+00,1.000000e+00,1.0,1.000000e+00,0.000000e+00,1.202730e+03,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,4.528130e+05,0.000000e+00,1.000000e+00,1.0,1.500000e+01,0.000000e+00,6.871098e+04,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,9.318930e+05,0.000000e+00,1.000000e+00,1.0,2.800000e+01,0.000000e+00,1.018500e+05,0.000000e+00,0.000000e+00,1.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,1.199286e+06,0.000000e+00,1.000000e+00,1.0,3.500000e+01,1.000000e+00,1.559560e+05,0.000000e+00,0.000000e+00,1.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,1.553689e+06,1.000000e+00,9.900000e+01,1.0,5.200000e+01,1.000000e+00,2.889440e+07,1.000000e+00,1.000000e+00,1.000000e+00,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

# Categorical Data

# indrel_1mes

In [6]:
df.canal_entrada.value_counts() #每個類別的分佈

KHE    4055270
KAT    3268209
KFC    3098360
KHQ     591039
KFA     409669
KHK     241084
KHM     183924
KHD     116891
KHN     116608
KAS      86221
RED      75607
KAG      74295
KAY      67350
KAA      66656
KAB      62381
KAE      50764
KCC      49308
KBZ      46446
KHL      45128
KFD      44461
KAI      37699
KEY      35146
KAW      34275
KAR      32686
KAZ      32186
KAF      30559
007      29063
013      27139
KCI      26546
KAH      24875
        ...
004        210
KCQ        198
KDN        197
KCR        196
KDH        191
KCO        179
KEE        175
KCP        158
K00        152
KBE        147
KEQ        146
KFB        107
KAV        107
KCT        105
KBX        102
KBP         85
KEM         68
KCX         67
KFV         67
KBN         61
KHA         51
KGU         28
KGC         28
KGN         17
KDB         17
KDI         17
KDL         11
025         11
KHS          5
KHR          1
Name: canal_entrada, Length: 162, dtype: int64

In [7]:
df.canal_entrada.isnull().sum() # 遺失值有多少筆

186126

In [8]:
(df.canal_entrada.isnull().sum()/df.shape[0])*100 #percentage of the missing number

1.363829308767025

# Numeraical Data

In [9]:
df.ind_ahor_fin_ult1.describe()

count    1.364731e+07
mean     1.022912e-04
std      1.011340e-02
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      1.000000e+00
Name: ind_ahor_fin_ult1, dtype: float64

In [77]:
df["antiguedad"] = pd.to_numeric(df["antiguedad"], errors='coerce') #turn data into int

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2015-01-28,1375586,N,ES,H,35.0,2015-01-12,0.0,6.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
1,2015-01-28,1050611,N,ES,V,23.0,2012-08-10,0.0,35.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-01-28,1050612,N,ES,V,23.0,2012-08-10,0.0,35.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3,2015-01-28,1050613,N,ES,H,22.0,2012-08-10,0.0,35.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
4,2015-01-28,1050614,N,ES,V,23.0,2012-08-10,0.0,35.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
5,2015-01-28,1050615,N,ES,H,23.0,2012-08-10,0.0,35.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
6,2015-01-28,1050616,N,ES,H,23.0,2012-08-10,0.0,35.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
7,2015-01-28,1050617,N,ES,H,23.0,2012-08-10,0.0,35.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
8,2015-01-28,1050619,N,ES,H,24.0,2012-08-10,0.0,35.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
9,2015-01-28,1050620,N,ES,H,23.0,2012-08-10,0.0,35.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
10,2015-01-28,1050621,N,ES,V,23.0,2012-08-10,0.0,35.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
11,2015-01-28,1050622,N,ES,H,23.0,2012-08-10,0.0,35.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
12,2015-01-28,1050623,N,ES,H,23.0,2012-08-10,0.0,35.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13,2015-01-28,1050624,N,ES,H,65.0,2012-08-10,0.0,35.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
14,2015-01-28,1050625,N,ES,V,23.0,2012-08-10,0.0,35.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
15,2015-01-28,1050626,N,ES,V,23.0,2012-08-10,0.0,35.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
16,2015-01-28,1050610,N,ES,V,24.0,2012-08-10,0.0,35.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
17,2015-01-28,1050627,N,ES,H,23.0,2012-08-10,0.0,35.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
18,2015-01-28,1050609,N,ES,H,22.0,2012-08-10,0.0,35.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
19,2015-01-28,1050605,N,ES,V,23.0,2012-08-10,0.0,35.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
20,2015-01-28,1050582,N,ES,V,28.0,2012-08-10,0.0,35.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
21,2015-01-28,1050586,N,ES,V,23.0,2012-08-10,0.0,35.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,1
22,2015-01-28,1050588,N,ES,H,22.0,2012-08-10,0.0,35.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
23,2015-01-28,1050589,N,ES,V,23.0,2012-08-10,0.0,35.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
24,2015-01-28,1050591,N,ES,H,23.0,2012-08-10,0.0,35.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
25,2015-01-28,1050592,N,ES,H,22.0,2012-08-10,0.0,35.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
26,2015-01-28,1050595,N,ES,V,25.0,2012-08-10,0.0,35.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
27,2015-01-28,1050596,N,ES,H,25.0,2012-08-10,0.0,35.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
28,2015-01-28,1050597,N,ES,H,23.0,2012-08-10,0.0,35.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
29,2015-01-28,1050598,N,ES,H,23.0,2012-08-10,0.0,35.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13647279,2016-05-28,1166759,N,ES,H,22.0,2013-08-14,0.0,33.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13647280,2016-05-28,1166761,N,ES,H,23.0,2013-08-14,0.0,33.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13647281,2016-05-28,1166762,N,ES,V,22.0,2013-08-14,0.0,33.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13647282,2016-05-28,1166787,N,ES,H,23.0,2013-08-14,0.0,33.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13647283,2016-05-28,1166786,N,ES,H,23.0,2013-08-14,0.0,33.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13647284,2016-05-28,1166785,N,ES,V,23.0,2013-08-14,0.0,33.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13647285,2016-05-28,1166784,N,ES,H,23.0,2013-08-14,0.0,33.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13647286,2016-05-28,1166783,N,ES,H,25.0,2013-08-14,0.0,33.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13647287,2016-05-28,1166782,N,ES,V,23.0,2013-08-14,0.0,33.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13647288,2016-05-28,1166781,N,ES,H,24.0,2013-08-14,0.0,33.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13647289,2016-05-28,1166780,N,ES,H,28.0,2013-08-14,0.0,33.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13647290,2016-05-28,1166779,N,ES,V,23.0,2013-08-14,0.0,33.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13647291,2016-05-28,1166778,N,ES,V,23.0,2013-08-14,0.0,33.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13647292,2016-05-28,1166777,N,ES,V,23.0,2013-08-14,0.0,33.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13647293,2016-05-28,1166776,N,ES,H,23.0,2013-08-16,0.0,33.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13647294,2016-05-28,1166775,N,ES,V,23.0,2013-08-16,0.0,33.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13647295,2016-05-28,1166774,N,ES,H,22.0,2013-08-16,0.0,33.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13647296,2016-05-28,1166773,N,ES,H,23.0,2013-08-16,0.0,33.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13647297,2016-05-28,1166772,N,ES,V,23.0,2013-08-16,0.0,33.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13647298,2016-05-28,1166771,N,ES,H,23.0,2013-08-16,0.0,33.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13647299,2016-05-28,1166770,N,ES,H,23.0,2013-08-14,0.0,33.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13647300,2016-05-28,1166769,N,ES,H,26.0,2013-08-14,0.0,33.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13647301,2016-05-28,1166768,N,ES,V,23.0,2013-08-14,0.0,33.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13647302,2016-05-28,1166767,N,ES,V,25.0,2013-08-14,0.0,33.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13647303,2016-05-28,1166766,N,ES,V,25.0,2013-08-14,0.0,33.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13647304,2016-05-28,1166765,N,ES,V,22.0,2013-08-14,0.0,33.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13647305,2016-05-28,1166764,N,ES,V,23.0,2013-08-14,0.0,33.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13647306,2016-05-28,1166763,N,ES,H,47.0,2013-08-14,0.0,33.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13647307,2016-05-28,1166789,N,ES,H,22.0,2013-08-14,0.0,33.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13647308,2016-05-28,1550586,N,ES,H,37.0,2016-05-13,1.0,0.0,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0

In [ ]:
#df.ind_ahor_fin_ult1.mean()
#df.ind_ahor_fin_ult1.max()
df.ind_ahor_fin_ult1.min()

In [126]:
df.renta.isnull().sum() # 遺失值有多少筆

2794375

In [154]:
df[df.ind_empleado.isnull()]

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
261,2015-01-28,1050741,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0.0,0.0,0
1029,2015-01-28,1051017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0.0,0.0,0
1063,2015-01-28,1051064,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0.0,0.0,0
1154,2015-01-28,1051387,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0.0,0.0,0
1779,2015-01-28,1048660,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0.0,0.0,0
1850,2015-01-28,1049775,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0.0,0.0,1
1867,2015-01-28,1049774,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0.0,0.0,0
1886,2015-01-28,1049838,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0.0,0.0,0
1922,2015-01-28,1049700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,NaN,NaN,0
2142,2015-01-28,1049406,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0.0,0.0,0
2418,2015-01-28,1049560,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0.0,0.0,0
2487,2015-01-28,1056017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0.0,0.0,0
2989,2015-01-28,1055504,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,NaN,NaN,0
3343,2015-01-28,1057040,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0.0,0.0,0
3411,2015-01-28,1056554,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,1,0,0,0.0,0.0,1
3414,2015-01-28,1056525,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0.0,0.0,0
3550,2015-01-28,1056756,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0.0,0.0,0
3646,2015-01-28,1056643,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0.0,0.0,0
4150,2015-01-28,1052877,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0.0,0.0,0
4182,2015-01-28,1052940,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,1,0,0,0,0.0,0.0,0
4281,2015-01-28,1054659,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0.0,0.0,0
4290,2015-01-28,1054673,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0.0,0.0,0
4362,2015-01-28,1054509,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0.0,0.0,0
4646,2015-01-28,1054037,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,NaN,NaN,0
4775,2015-01-28,1054429,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0.0,0.0,0
4777,2015-01-28,1054432,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0.0,0.0,0
5288,2015-01-28,1043686,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0.0,0.0,0
5413,2015-01-28,1044036,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0.0,0.0,0
5503,2015-01-28,1045095,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0.0,0.0,0
5666,2015-01-28,1045269,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3770661,2015-06-28,563245,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,1,0,0,0,NaN,NaN,0
3770746,2015-06-28,563173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,1,0,0,0,NaN,NaN,0
3770881,2015-06-28,563449,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,1,0,0,0,NaN,NaN,0
3771376,2015-06-28,565207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,1,0,0,0,NaN,NaN,0
3771380,2015-06-28,565160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,1,0,0,0,NaN,NaN,0
3771435,2015-06-28,569301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,1,0,0,0,NaN,NaN,0
3771523,2015-06-28,565649,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,1,0,0,0,NaN,NaN,0
3771727,2015-06-28,544873,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,1,0,0,0,NaN,NaN,0
3772008,2015-06-28,543501,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,1,0,0,0,NaN,NaN,0
3772627,2015-06-28,545184,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,1,0,0,0,NaN,NaN,0
3772783,2015-06-28,545692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,NaN,NaN,0
3772931,2015-06-28,540738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,1,0,0,0,NaN,NaN,0
3773459,2015-06-28,542881,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,1,0,0,0,NaN,NaN,0
3773729,2015-06-28,541748,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,1,0,0,0,NaN,NaN,0
3773767,2015-06-28,541866,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,1,0,0,0,NaN,NaN,0
3774107,2015-06-28,552221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,1,0,0,0,NaN,NaN,0
3774329,2015-06-28,552715,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,1,0,0,0,NaN,NaN,0
3774635,2015-06-28,551847,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,1,0,0,0,NaN,NaN,0
3774795,2015-06-28,554453,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,1,0,0,0,NaN,NaN,0
3774843,2015-06-28,554887,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,1,0,0,0,NaN,NaN,0
3774902,2015-06-28,554521,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,1,0,0,0,NaN,NaN,0
3775205,2015-06-28,553542,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,1,0,0,0,NaN,NaN,0
3775245,2015-06-28,553680,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,NaN,NaN,0
3775860,2015-06-28,547784,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,1,0,0,0,NaN,NaN,0
3775909,2015-06-28,550339,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,1,0,0,0,NaN,NaN,0
3775976,2015-06-28,550081,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,1,0,0,0,NaN,NaN,0
3776175,2015-06-28,550693,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,1,0,0,0,NaN,NaN,0
3776230,2015-06-28,549518,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,1,0,0,0,NaN,NaN,0
3776279,2015-06-28,549207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,1,0,0,0,NaN,NaN,0
3776332,2015-06-28,549255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,1,0,0,0,NaN,NaN,0

In [3]:
na = pd.DataFrame(df.isnull().sum(), columns=['missing'])
na["%"] = (na['missing']/df.shape[0])*100
na

                        missing          %
fecha_dato                    0   0.000000
ncodpers                      0   0.000000
ind_empleado              27734   0.203220
pais_residencia           27734   0.203220
sexo                      27804   0.203732
age                           0   0.000000
fecha_alta                27734   0.203220
ind_nuevo                 27734   0.203220
antiguedad                    0   0.000000
indrel                    27734   0.203220
ult_fec_cli_1t         13622516  99.818330
indrel_1mes              149781   1.097513
tiprel_1mes              149781   1.097513
indresi                   27734   0.203220
indext                    27734   0.203220
conyuemp               13645501  99.986752
canal_entrada            186126   1.363829
indfall                   27734   0.203220
tipodom                   27735   0.203227
cod_prov                  93591   0.685784
nomprov                   93591   0.685784
ind_actividad_cliente     27734   0.203220
renta                   2794375  20.475648
segmento                 189368   1.387585
ind_ahor_fin_ult1             0   0.000000
ind_aval_fin_ult1             0   0.000000
ind_cco_fin_ult1              0   0.000000
ind_cder_fin_ult1             0   0.000000
ind_cno_fin_ult1              0   0.000000
ind_ctju_fin_ult1             0   0.000000
ind_ctma_fin_ult1             0   0.000000
ind_ctop_fin_ult1             0   0.000000
ind_ctpp_fin_ult1             0   0.000000
ind_deco_fin_ult1             0   0.000000
ind_deme_fin_ult1             0   0.000000
ind_dela_fin_ult1             0   0.000000
ind_ecue_fin_ult1             0   0.000000
ind_fond_fin_ult1             0   0.000000
ind_hip_fin_ult1              0   0.000000
ind_plan_fin_ult1             0   0.000000
ind_pres_fin_ult1             0   0.000000
ind_reca_fin_ult1             0   0.000000
ind_tjcr_fin_ult1             0   0.000000
ind_valo_fin_ult1             0   0.000000
ind_viv_fin_ult1              0   0.000000
ind_nomina_ult1           16063   0.117701
ind_nom_pens_ult1         16063   0.117701
ind_recibo_ult1               0   0.000000

In [33]:
na.sort_values(by=['missing'])

                        missing         %
fecha_dato                    0  0.000000
ind_cco_fin_ult1              0  0.000000
ind_cder_fin_ult1             0  0.000000
ind_cno_fin_ult1              0  0.000000
ind_ctju_fin_ult1             0  0.000000
ind_ctma_fin_ult1             0  0.000000
ind_ctop_fin_ult1             0  0.000000
ind_ctpp_fin_ult1             0  0.000000
ind_deco_fin_ult1             0  0.000000
ind_deme_fin_ult1             0  0.000000
ind_dela_fin_ult1             0  0.000000
ind_ecue_fin_ult1             0  0.000000
ind_fond_fin_ult1             0  0.000000
ind_hip_fin_ult1              0  0.000000
ind_plan_fin_ult1             0  0.000000
ind_pres_fin_ult1             0  0.000000
ind_reca_fin_ult1             0  0.000000
ind_tjcr_fin_ult1             0  0.000000
ind_valo_fin_ult1             0  0.000000
ind_viv_fin_ult1              0  0.000000
ind_aval_fin_ult1             0  0.000000
ind_ahor_fin_ult1             0  0.000000
ind_recibo_ult1               0  0.000000
age                           0  0.000000
antiguedad                    0  0.000000
ncodpers                      0  0.000000
ind_nom_pens_ult1         16063  0.001177
ind_nomina_ult1           16063  0.001177
fecha_alta                27734  0.002032
ind_nuevo                 27734  0.002032
indrel                    27734  0.002032
pais_residencia           27734  0.002032
ind_empleado              27734  0.002032
indext                    27734  0.002032
indfall                   27734  0.002032
ind_actividad_cliente     27734  0.002032
indresi                   27734  0.002032
tipodom                   27735  0.002032
sexo                      27804  0.002037
cod_prov                  93591  0.006858
nomprov                   93591  0.006858
indrel_1mes              149781  0.010975
tiprel_1mes              149781  0.010975
canal_entrada            186126  0.013638
segmento                 189368  0.013876
renta                   2794375  0.204756
ult_fec_cli_1t         13622516  0.998183
conyuemp               13645501  0.999868

# Drop missing value

In [4]:
df = df[df.ind_empleado.notnull()] # store data with ind_empleado not null into df as new df

# Replacing missing value

In [5]:
df_new = df.drop(['tipodom', 'cod_prov', 'ult_fec_cli_1t', 'conyuemp'], axis=1)

In [166]:
df.shape

(13619575, 48)

In [168]:
df_new.shape

(13619575, 44)

In [6]:
values = {'sexo': 'UN', 'indrel_1mes': 1, 'tiprel_1mes': "UN", 'canal_entrada': 'UN',"nomprov":"MADRID", "ind_nomina_ult1" : 0, "ind_nom_pens_ult1":0}
df_new = df_new.fillna(value=values)

In [7]:
df_new["renta"] = df_new.groupby("nomprov").transform(lambda x: x.fillna(x.mean())) 
#df_new["renta"] = df_new.groupby("nomprov")['renta'].transform(mean)

In [8]:
na2 = pd.DataFrame(df_new.isnull().sum(), columns=['missing'])
na2["%"] = (na2['missing']/df_new.shape[0])*100
na2

                       missing         %
fecha_dato                   0  0.000000
ncodpers                     0  0.000000
ind_empleado                 0  0.000000
pais_residencia              0  0.000000
sexo                         0  0.000000
age                          0  0.000000
fecha_alta                   0  0.000000
ind_nuevo                    0  0.000000
antiguedad                   0  0.000000
indrel                       0  0.000000
indrel_1mes                  0  0.000000
tiprel_1mes                  0  0.000000
indresi                      0  0.000000
indext                       0  0.000000
canal_entrada                0  0.000000
indfall                      0  0.000000
nomprov                      0  0.000000
ind_actividad_cliente        0  0.000000
renta                        0  0.000000
segmento                161634  1.186777
ind_ahor_fin_ult1            0  0.000000
ind_aval_fin_ult1            0  0.000000
ind_cco_fin_ult1             0  0.000000
ind_cder_fin_ult1            0  0.000000
ind_cno_fin_ult1             0  0.000000
ind_ctju_fin_ult1            0  0.000000
ind_ctma_fin_ult1            0  0.000000
ind_ctop_fin_ult1            0  0.000000
ind_ctpp_fin_ult1            0  0.000000
ind_deco_fin_ult1            0  0.000000
ind_deme_fin_ult1            0  0.000000
ind_dela_fin_ult1            0  0.000000
ind_ecue_fin_ult1            0  0.000000
ind_fond_fin_ult1            0  0.000000
ind_hip_fin_ult1             0  0.000000
ind_plan_fin_ult1            0  0.000000
ind_pres_fin_ult1            0  0.000000
ind_reca_fin_ult1            0  0.000000
ind_tjcr_fin_ult1            0  0.000000
ind_valo_fin_ult1            0  0.000000
ind_viv_fin_ult1             0  0.000000
ind_nomina_ult1              0  0.000000
ind_nom_pens_ult1            0  0.000000
ind_recibo_ult1              0  0.000000

In [24]:
df_new.renta.describe()

count    1.361958e+07
mean     8.350792e+05
std      4.315776e+05
min      1.588900e+04
25%      4.529235e+05
50%      9.321800e+05
75%      1.199354e+06
max      1.553689e+06
Name: renta, dtype: float64

In [47]:
bar = df_new.groupby('segmento')['renta'].mean()
bar

segmento
01 - TOP              5.145970e+05
02 - PARTICULARES     6.441793e+05
03 - UNIVERSITARIO    1.165556e+06
Name: renta, dtype: float64

In [50]:
df_new.groupby('segmento')['renta'].max()

segmento
01 - TOP              1547993.0
02 - PARTICULARES     1548217.0
03 - UNIVERSITARIO    1548160.0
Name: renta, dtype: float64

In [46]:
top_par = (bar[0]+bar[1])/2
top_par

579388.18972943909

In [ ]:
with sns.plotting_context("notebook",font_scale=1.5):
    sns.set_style("whitegrid")
    sns.distplot(df["age"].dropna(),
                 bins=80,
                 kde=False,
                 color="tomato")
    sns.plt.title("Age Distribution")
    plt.ylabel("Count")

In [18]:
par_uni = (bar[1]+bar[2])/2
par_uni

renta    904867.879572
dtype: float64

In [26]:
df_new.head()

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0

In [ ]:
df_new.segmento.isnull().sum()

In [22]:
count = 0
for i in df_new["renta"]:
    print(i)
    count +=1
    if count > 5:
        break

1375586.0
1050611.0
1050612.0
1050613.0
1050614.0
1050615.0

In [39]:
# b = df_new[["renta"]] > top_par
# print(b.renta.value_counts())
a = df_new[df_new[["renta"]] < par_uni]
print(a.head())
# a['segmento'] = a['segmento'].fillna('03 - UNIVERSITARIO')

# b = df_new[df_new[["renta"]]> top_par]
# b['segmento'] = b['segmento'].fillna('01 - TOP')

# c = df_new[df_new[["renta"]].isnull()]
# c['segmento'] = c['segmento'].fillna('02 - PARTICULARES')

# df_new = a.concat(b)
# df_new = df_new.concat(c)

KeyboardInterrupt:

In [ ]:
df_new[df_new["renta"]<par_uni].segmento = df_new[df_new.renta < par_uni].segmento.fillna('03 - UNIVERSITARIO')
df_new.loc[df_new.renta < par_uni, 'segmento'] = df_new[df_new.renta < par_uni].segmento.fillna('03 - UNIVERSITARIO')
df_new.loc[df_new.renta > top_par, 'segmento'] = df_new[df_new.renta > top_par].segmento.fillna('01 - TOP')
df_new.loc[df_new.segmento.isnull(), 'segmento'] = df_new[df_new.segmento.isnull()].segmento.fillna('02 - PARTICULARES')